#HelpPage {
  color: #fff;
  position: fixed;
  overflow: auto;
}
#HelpPage h1 {
  color: #fff;
  text-shadow: 1.5px 1.5px 3px #000, -0.5px 0.5px 1.5px #eee;
  justify-content: left;
  line-height: 25px;
  padding: 10px 0;
}
#Help {
  position: relative;
  background: transparent;
  color: #fff;
  margin: 10% auto;
  overflow: auto;
  padding: 5%;
}
#Help h1 {
  margin: 5% auto;
  text-align: left;
  font-size: 24px;
}
#Help .header {
  align-items: center;
}
#Help .btn {
  color: #eee;
  box-shadow: 2.5px 2.5px 5px #000, -1px -1px 5px #808dea;
  padding: 15%;
  margin: auto 5px;
}
#Help .btn:hover {
  color: #eee;
  box-shadow: inset 2.5px 2.5px 5px #000, inset -1px -1px 5px #808dea;
}
#Help .btn i {
  display: flex;
  width: 50px;
  height: 50px;
  color: #eee;
  align-items: center;
  justify-content: center;
}

/****** HELP TABLE PAGE ******/
#Help table,
#table {
  width: 100%;
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  border-spacing: 2px;
  border-color: grey;
}

#Help table th {
  padding: 10px;
  font-size: 20px;
  text-align: center;
  color: #eee;
  border: 0.25px solid #8587c1;
}
#Help table th:nth-child(2),
#Help table th:nth-child(4),
#Help table td:nth-child(2),
#Help table td:nth-child(4) {
  display: none;
}
#Help table td a {
  color: #eee;
  text-decoration: none;
}
#Help table td {
  font-size: 12px;
  border: 0.25px solid #8587c1;
  padding: 8px;
  min-height: 40px;
}
#Help table tr:hover {
  box-shadow: 0 0 5px #fff;
}
#Help table td:nth-child(1):hover {
  background-color: transparent;
}
#Help table tr:hover,
#Help table td a:hover {
  background-color: rgba(255, 255, 255, 0.25);
  cursor: pointer;
}
#Help table .question {
  max-width: 300px;
}

/****** HELP TICKET FORM ******/
#ticketFormPage {
  display: flex;
  position: fixed;
  flex-direction: column;
  background: transparent;
  width: 100%;
  height: 100%;
  margin: 0;
}
#ticketFormPage section {
  text-align: center;
}
#ticketFormPage h1 {
  align-self: center;
  font-size: 30px;
  margin: 5%;
}
#TicketForm {
  width: 90%;
  margin: 10% auto;
  position: relative;
}
#ticketFormPage .wrapper {
  position: relative;
  display: flex;
  background: transparent;
  color: white;
  margin: auto;
  padding: 5% 0;
}
#TicketForm .form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#TicketForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: auto;
}
#TicketForm label {
  line-height: 25px;
}
#TicketForm .form-field {
  width: 100%;
}
#TicketForm input {
  background-color: transparent;
  border: 1px solid #ccc;
  color: #ccc;
  text-indent: 5px;
  font-size: 12px;
}
#TicketForm input:focus {
  box-shadow: 0 0 5px #fff;
  outline: #ddd;
}
#TicketForm input::placeholder {
  color: #bbb;
}
#TicketForm input[type="text"],
#TicketForm input[type="date"] {
  width: 100%;
  height: 25px;
  padding: 0px;
  margin-bottom: 11px;
}
#TicketForm input:-webkit-autofill,
#TicketForm input:-webkit-autofill:hover,
#TicketForm input:-webkit-autofill:focus,
#TicketForm input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff;
}
#TicketForm .submit-field {
  display: flex;
  flex-direction: row;
}
#TicketForm .btn {
  text-decoration: none;
  width: 50%;
  margin: 0 8px;
  padding: 3%;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 400ms;
  background: transparent;
  box-shadow: 2.5px 2.5px 5px #222, -2.5px -2.5px 5px #808dea;
}
#TicketForm .btn:hover {
  box-shadow: inset 2.5px 2.5px 5px #222, inset -2.5px -2.5px 5px #808dea;
  transform: translatey(2px);
}

/****** VIEW HELP TICKET ******/
#ticketPage {
  display: flex;
  position: fixed;
  flex-direction: column;
  background: transparent;
  width: 100%;
  height: 100%;
  margin: 0;
}
#ticketPage section {
  text-align: center;
}
#ticketPage h1 {
  color: #fff;
  height: 25px;
  margin: 5% auto;
}
#ticketPage .h1 {
  color: #fff;
  text-align: center;
  font-size: 48px;
  margin: 0;
}

#TicketInfo {
  width: 90%;
  margin: 1.5% auto;
  position: relative;
}

#TicketInfo table {
  width: 100%;
  border-color: #fff;
  margin: auto;
}

#TicketInfo table th {
  width: 100%;
  padding: 10px;
  font-size: 28px;
  text-align: center;
  color: #eee;
  /* border: 0.25px solid #8587c1; */
}
#TicketInfo tbody {
  text-align: left;
}
#TicketInfo table td a {
  color: #eee;
  text-decoration: none;
}
#TicketInfo table td:first-child {
  width: 30%;
}
#TicketInfo table td {
  font-size: 18px;
  padding: 8px;
  min-height: 40px;
  border: 0.25px solid #8587c1;
}
#TicketInfo table tr:hover {
  box-shadow: 0 0 5px #fff;
}
#TicketInfo table td:nth-child(1):hover {
  background-color: transparent;
}
#TicketInfo table tr:hover,
#TicketInfo table td a:hover {
  background-color: rgba(255, 255, 255, 0.25);
  cursor: pointer;
}
#TicketInfo .pick-up-ticket {
  text-align: center;
}
#ticketPage .btn {
  color: #eee;
  font-size: 18px;
  text-decoration: none;
  margin: 0 auto;
  padding: 2%;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 400ms;
  background: transparent;
  box-shadow: 2.5px 2.5px 5px #222, -2.5px -2.5px 5px #808dea;
}

/****** ALL LARGE MOBILE STYLES FROM 500px - 768px ******/
@media screen and (min-width: 500px) {
  #Help h1 {
    font-size: 32px;
  }
}

/****** ALL TABLET STYLES FROM 769px - 1024px ******/
@media screen and (min-width: 769px) {
  #Help table th:nth-child(2),
  #Help table th:nth-child(4),
  #Help table td:nth-child(2),
  #Help table td:nth-child(4) {
    display: table-cell;
  }
  #Help,
  #TicketForm {
    width: 75%;
  }
  #Help form {
    width: 50%;
  }
}

/****** ALL LAPTOP STYLES FROM 1025px - 1438px ******/
@media screen and (min-width: 1025px) {
  #Help h1 {
    font-size: 48px;
  }
  #Help .btn {
    padding: 25%;
    margin: auto 0;
  }
  #Help table td {
    font-size: 16px;
  }
  #TicketForm {
    margin: 5% auto;
  }
  #ticketFormPage h1 {
    font-size: 48px;
    margin: 2%;
  }
  #TicketInfo {
    width: 50%;
  }
}

/****** ALL LARGE LAPTOP STYLES FROM 1439px - 1600px ******/
@media screen and (min-width: 1439px) and (max-width: 1600px) {
}
