/****** BASE ******/
* {
  box-sizing: border-box;
}
html {
  min-width: 400px;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  background-color: #4d4d4d;
}
h1,
h2,
h3 {
  font-family: "Nixie+One", serif;
  color: #02fefe;
}
h4,
h5,
h6 {
  font-family: "Noto Sans JP", sans-serif;
}
a {
  text-decoration: none !important;
}
p {
  margin-top: 0;
}
hr {
  border-top: 0.5px solid rgba(153, 153, 153, 0.7);
  margin: 16px auto;
}

/* CSS SHORTCUTS */
.aqua {
  color: #02fefe;
}
.lightGray {
  color: lightgray;
}
.gray {
  color: gray;
}
.black {
  color: black;
}
.green {
  border: 5px solid #00e676 !important;
}
.red {
  border: 5px solid #ff5252 !important;
}
.yellow {
  border: 5px solid #ffd740 !important;
}
.aquaBG {
  background-color: #02fefe;
}
.blackBG {
  background-color: black;
}
.blueBG {
  background-color: #40c4ff;
}
.purpleBG {
  background-color: #b47cff;
}
.orangeBG {
  background-color: #ff6e40;
}
.pinkBG {
  background-color: #ff79b0;
}
.greenBG {
  background-color: #00e676;
}
.redBG {
  background-color: #ff5252;
}
.yellowBG {
  background-color: #ffd740;
}
.hidden {
  display: none !important;
}

/****** GLOBAL FLEXBOX FORMAT ******/
.col {
  flex-direction: column;
  display: flex;
}
.col-wrap {
  flex-flow: column wrap;
  display: flex;
}
.row {
  flex-direction: row;
  display: inline-flex;
}
.row-wrap {
  flex-flow: row wrap;
  display: inline-flex;
  /* align-content: center; */
}
.group {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.item {
  flex: 1;
  margin: auto;
  text-align: center;
  color: #f2f2f2;
  line-height: 18px;
  align-content: space-between;
  justify-content: center;
}
.item-double {
  flex: 2;
  margin: 10px;
  text-align: center;
  color: #f2f2f2;
  line-height: 18px;
  display: flex;
  justify-content: center;
}
.item-triple {
  flex: 3;
  margin: 10px;
  text-align: center;
  color: #f2f2f2;
  line-height: 18px;
  display: flex;
  justify-content: center;
}
.item-quad {
  flex: 4;
  /* margin: 5px; */
  text-align: center;
  color: #f2f2f2;
  line-height: 18px;
  display: flex;
  justify-content: center;
}

/****** GLOBAL STYLES ******/
#overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
main h1 {
  margin: 0 10px;
  text-align: center;
  font-size: 30px;
}
main h2 {
  display: block;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin: 18px 0 12px 0;
  font-size: 20px;
  line-height: 20px;
}
main h3 {
  margin: 18px 0 12px 0;
  font-size: 20px;
  line-height: normal;
}
main p {
  font-size: 16px;
}
img {
  width: 100%;
}
.wrapper {
  width: 90%;
  margin: 1em auto;
  padding: 1em;
  color: #eee;
  background-color: #333;
  box-shadow: 5px 5px 5px #000, -1px -1px 5px #aaa;
  border-radius: 0.5em;
}
.new {
  border: 5px solid #00e676 !important;
}
.assigned {
  border: 5px solid #ffd740 !important;
}
.closed {
  border: 5px solid #ff5252 !important;
}
.btn {
  text-decoration: none;
  margin: 0 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 400ms;
  background: #02fefe;
  box-shadow: 5px 5px 10px #222, -5px -5px 10px #ccc;
}
.btn:hover {
  box-shadow: inset 5px 5px 10px #222, inset -5px -5px 10px #ccc;
  transform: translatey(2px);
}
.btn i {
  font-size: 2em;
  transition: all 400ms;
  color: #02fefe;
}
.btn a {
  color: #02fefe;
}
.btn-round {
  width: 3em;
  height: 3em;
  margin: 1em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}
button {
  cursor: pointer;
  padding: 0.25em;
  font-weight: bold;
}
section .btn {
  display: inline-block;
  border: none;
  color: #02fefe;
  background: none;
  padding: 2px;
  text-transform: uppercase;
  font-weight: 500;
  height: auto;
  padding: 0.25em;
  width: 5em;
}
section p {
  color: #eee;
}

/* HEADER STYLES */
header {
  padding: 0.5em;
  margin-bottom: 1em;
  justify-content: center;
  background: #333;
  box-shadow: 3px 3px 5px #000;
  height: fit-content;
}
header h1 {
  font-size: 36px;
  text-align: center;
  text-shadow: 1.5px 1.5px 3px #000, -1px 1px 1.5px #ccc;
  margin: 0.5em auto 0.25em auto;
}
header img {
  height: 75px;
  width: 75px;
  margin: 0.5em auto;
  border-radius: 50%;
  border: 2px solid #02fefe;
  align-self: center;
  display: block;
}

/****** LOGIN ******/

#Login {
  text-align: center;
  margin: auto;
}
#Login p {
  color: white;
  font-size: 16px;
  line-height: 25px;
}

#Login p strong {
  display: block;
}

/****** FOOTER ******/
#Footer {
  background-color: #333;
  color: #eee;
  width: 100%;
  bottom: 0;
  display: flex;
  margin: 0;
  border-radius: 0;
  justify-content: space-around;
  min-height: 50px;
  align-items: center;
}

#Footer .itemTriple {
  border-right: 1px solid #eee;
  width: 100%;
  text-align: center;
}

#Footer .itemTriple:last-child {
  border-right: none;
}
#Footer a {
  color: #02fefe;
}
#Footer img {
  width: 100px;
  height: 100px;
}

/****** ALL LARGE MOBILE STYLES FROM 500px - 768px ******/
@media screen and (min-width: 500px) {
}

/****** ALL TABLET STYLES FROM 769px - 1024px ******/
@media screen and (min-width: 769px) {
  table th:nth-child(2),
  table th:nth-child(4),
  table td:nth-child(2),
  table td:nth-child(4) {
    display: table-cell;
  }
}

/****** ALL LAPTOP STYLES FROM 1025px - 1438px ******/
@media screen and (min-width: 1025px) {
}

/****** ALL LARGE LAPTOP STYLES FROM 1439px - 1600px ******/
@media screen and (min-width: 1439px) and (max-width: 1600px) {
}
