/****** BASE ******/
* {
  box-sizing: border-box;
}
html {
  min-height: 100%;
  position: relative;
  background: linear-gradient(
    165deg,
    rgba(84, 66, 146, 100) 0%,
    rgba(112, 140, 219, 100) 100%
  );
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  color: #fff;
}
#root,
main {
  width: 100%;
  height: 100%;
}
h1,
h2 {
  font-family: "Nixie+One", serif;
}
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans JP", sans-serif;
}
a {
  text-decoration: none !important;
}
p {
  margin-top: 0;
}
hr {
  border-top: 0.5px solid rgba(153, 153, 153, 0.7);
  margin: 16px auto;
}

/* CSS SHORTCUTS */
.purple-blue {
  background: linear-gradient(
    135%,
    rgba(84, 66, 146, 100) 0%,
    rgba(112, 140, 219, 100) 100%
  );
}
.lightGray {
  color: lightgray;
}
.gray {
  color: gray;
}
.black {
  color: black;
}
.green {
  border: 5px solid #00e676 !important;
}
.red {
  border: 5px solid #ff5252 !important;
}
.yellow {
  border: 5px solid #ffd740 !important;
}
.aquaBG {
  background-color: #02fefe;
}
.blackBG {
  background-color: black;
}
.blueBG {
  background-color: #40c4ff;
}
.purpleBG {
  background-color: #b47cff;
}
.orangeBG {
  background-color: #ff6e40;
}
.pinkBG {
  background-color: #ff79b0;
}
.greenBG {
  background-color: #00e676;
}
.redBG {
  background-color: #ff5252;
}
.yellowBG {
  background-color: #ffd740;
}
.hidden {
  display: none !important;
}
.block {
  display: block;
}

/****** GLOBAL FLEXBOX FORMAT ******/
.col {
  flex-direction: column;
  display: flex;
}
.col-wrap {
  flex-flow: column wrap;
  display: flex;
}
.row {
  flex-direction: row;
  display: inline-flex;
}
.row-wrap {
  flex-flow: row wrap;
  display: inline-flex;
  /* align-content: center; */
}
.group {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.item {
  flex: 1;
  margin: auto;
  text-align: center;
  color: #f2f2f2;
  line-height: 18px;
  align-content: space-between;
  justify-content: center;
}
.item-double {
  flex: 2;
  margin: 10px;
  text-align: center;
  color: #f2f2f2;
  line-height: 18px;
  display: flex;
  justify-content: center;
}
.item-triple {
  flex: 3;
  margin: 10px;
  text-align: center;
  color: #f2f2f2;
  line-height: 18px;
  display: flex;
  justify-content: center;
}
.item-quad {
  flex: 4;
  /* margin: 5px; */
  text-align: center;
  color: #f2f2f2;
  line-height: 18px;
  display: flex;
  justify-content: center;
}

/****** GLOBAL STYLES ******/
#overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
img {
  width: 100%;
}
.wrapper {
  width: 90%;
  margin: auto;
  padding: 2%;
  color: #eee;
  background-color: transparent;
  box-shadow: 5px 5px 5px #000, -1px -1px 5px #808dea;
  border-radius: 5px;
}
.btn {
  text-decoration: none;
  margin: 0 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 400ms;
  background: #02fefe;
  box-shadow: 2.5px 2.5px 10px #222, -2.5px -2.5px 10px #808dea;
}
.btn:hover {
  box-shadow: inset 2.5px 2.5px 10px #222, inset -2.5px -2.5px 10px #808dea;
  transform: translatey(2px);
}
.btn i {
  font-size: 16px;
  transition: all 400ms;
  color: #02fefe;
}
.btn a {
  color: #02fefe;
}
.btn-round {
  width: 3em;
  height: 3em;
  margin: 1em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}
button {
  cursor: pointer;
  padding: 2%;
  font-weight: bold;
}
section .btn {
  display: inline-block;
  border: none;
  color: #fff;
  background: none;
  padding: 2px;
  text-transform: uppercase;
  font-weight: 500;
  height: auto;
  padding: 0.25em;
}
section p {
  color: #eee;
}

/* HEADER STYLES */
#Header {
  display: block;
  padding: 2%;
  margin-bottom: 2%;
  justify-content: center;
  background: transparent;
  box-shadow: 2.5px 2.5px 5px #000;
  height: fit-content;
  text-align: center;
}
#Header h1 {
  font-size: 36px;
  text-align: center;
  text-shadow: 1.5px 1.5px 3px #000, -1px 1px 1.5px #ccc;
  margin: 0.5em auto 0.25em auto;
}
#Header h3 {
  font-weight: 300;
}
#Header img {
  height: 75px;
  width: 75px;
  margin: 0.5em auto;
  align-self: center;
  display: block;
}

/****** FOOTER ******/
#Footer {
  background-color: transparent;
  color: #eee;
  width: 100%;
  bottom: 0;
  display: flex;
  margin: 0;
  border-radius: 0;
  justify-content: space-around;
  min-height: 50px;
  align-items: center;
}

#Footer .itemTriple {
  width: 100%;
  text-align: center;
}
#Footer .itemTriple:first-child {
  border-right: 1px solid #eee;
  text-decoration: underline;
}

#Footer .itemTriple:last-child {
  border-left: 1px solid #eee;
  text-decoration: underline;
}
#Footer a {
  color: #fff;
}
#Footer img {
  width: 50px;
  height: 50px;
}
